.footer {
  background-color: #fff176;
}

.main-wrapper {
  justify-content: center;
  display: flex;
  align-items: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: right;
  background-color: #aae5e9;
  background-size: contain;
  /* funny :) */
  background-image: url("http://3.bp.blogspot.com/-UpSvxBmKcm8/U3fXEN5JT4I/AAAAAAAAJEY/T89ZqAMm1p4/s1600/pikachu+face+wallpaper+8.jpg");
}

.main-content {
  max-width: 1200px;
  margin: 100px 0;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.animated-card:hover {
  transform: scale(1.03);
  transition: all 0.3s;
}

.img-container {
  justify-content: center;
  display: flex;
  padding-bottom: 10px;
}

.img-container img {
  max-height: 100px;
}

.search-container {
  display: flex;
  align-items: center;
  min-width: 200px;
}

.types {
  flex: 0 1 900px;
  line-height: 2rem;
  padding-left: 16px;
}

.list-header {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .search-container {
    justify-content: center;
  }
  .list-header {
    flex-direction: column;
  }
  .types {
    flex: 0 1 auto;
    padding: 0;
  }
}

.type-normal {
  background-color: #aa9;
}
.type-fire {
  background-color: #f42;
}
.type-water {
  background-color: #39f;
}
.type-electric {
  background-color: #fc3;
}
.type-grass {
  background-color: #7c5;
}
.type-ice {
  background-color: #6cf;
}
.type-fighting {
  background-color: #b54;
}
.type-poison {
  background-color: #a59;
}
.type-ground {
  background-color: #db5;
}
.type-flying {
  background-color: #89f;
}
.type-psychic {
  background-color: #f59;
}
.type-bug {
  background-color: #ab2;
}
.type-rock {
  background-color: #ba6;
}
.type-ghost {
  background-color: #66b;
}
.type-dragon {
  background-color: #76e;
}
.type-dark {
  background-color: #754;
}
.type-steel {
  background-color: #aab;
}
.type-fairy {
  background-color: #e9e;
}
.type-curse {
  background-color: #698;
}
.type-unknown {
  background-color: #698;
}
.type-shadow {
  background-color: #5d5d5d;
}
/* Customized antd */
.ant-col > div {
  background-color: #2196f3;
}

.ant-list-header {
  background-color: #fff;
  padding: 16px;
  margin-bottom: 1rem;
}

.ant-layout-header {
  background-color: #f44336;
  color: #fff;
  font-size: 30px;
  font-weight: 500;
}

.ant-tag {
  color: #fff;
  font-size: 14px;
}

.ant-spin-dot-item {
  background-color: #f44336;
}

.ant-tag-checkable {
  opacity: 0.6;
}
.ant-tag-checkable:hover {
  transform: rotate(10deg);
}

.ant-tag-checkable-checked {
  opacity: 1;
  box-shadow: 4px 5px 5px 0px rgba(0, 0, 0, 0.65);
}

.ant-tag-checkable:not(.ant-tag-checkable-checked):hover {
  color: #fff;
}

.ant-list-item {
  padding: 5px 0;
}

.ant-card-body {
  padding-bottom: 16px;
}
